<div class="bottom-content-block-resources">
  <div class="bottom-heading-wrapper-resources">
    <h4 class="bottom-heading-resources">{{section.settings.heading_text}}</h4>
    <div class="bottom-heading-breaker-resources"></div>
  </div>
  <div class="bottom-content-holder-resources">
    <p class="bottom-content-text-heading-resources">{{section.settings.sub_heading_text}}</p>
    <div class="bottom-content-log-resources">

      {% for block in section.blocks %}
      {% if block.settings.resource_img != blank %}
      <img class="resource-img small" src="{{ block.settings.resource_img | img_url }}">
    {%else%}
      <div class="resource-img"></div>
    {% endif %}
        <div class="bottom-content-text-log-resources">{{block.settings.resource_name}} – <a href="{{block.settings.resource_url}}" class="bottom-content-text-log-resources-link" target="_blank">{{block.settings.resource_type}}</a></div>
      {% endfor %}


    </div>
  </div>
</div>

{% schema %}
{
  "name": "Logbook - Resources" ,

  "settings": [
      {
         "type": "text",
         "id": "heading_text",
         "default": "Logbooks",
         "label": "Heading Text"
      },
      {
         "type": "textarea",
         "id": "sub_heading_text",
         "default": "These resources help you audit and prepare your logbooks.",
         "label": "Sub Heading Text"
      }

  ],
  
  "blocks": [
    {
      "type": "text",
      "name": "Logbook Resource",
      "settings": [
        
        {
          "label": "Name",
          "id": "resource_name",
          "type": "text"
        },
        {
          "label": "Resource URL",
          "id": "resource_url",
          "type": "url"
        },
        {
          "label": "Type",
          "id": "resource_type",
          "type": "text"
        },
        {
          "label": "Resource Image",
          "id": "resource_img",
          "type": "image_picker"
        }
        

      ]
    }
  ]
}
{% endschema %}

