{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid


{% section 'blog-template' %}
{% endcomment %}

{% comment %} //////////////// Tag Example ///////////////////////////////
<a href="{{ blog.url }}/tagged/news-articles#main-content" class="sub-hero-link-blog w-inline-block">
  <div>News Articles</div>
</a>
{% endcomment %}


{% comment %} ///////////////// blog object examples ///////////////////////////
<div class="flex-col-img-holder-blog" {% if article.image %}style="background-image: url({{ article.image | img_url: '800x' }});"{% endif %}></div>

{{ article.published_at | time_tag: format: 'date' }}
{{ article.title | escape }}
{% endcomment %}
{% comment %}
<select id="blog-category-filter" name="blog-category-filter" class="filter-input-category filter-input-category-blog w-select">
    <option value="none">Choose a Category</option>
    <option value="{{ blog.url }}">All</option>
  {%- for tag in blog.tags -%}
    <option value="{{ blog.url }}/tagged/{{ tag | handleize }}">{{tag}}</option>
  {% endfor %}
</select>
{% endcomment %}

<div class="hero-wrapper-news"></div>
<div class="mid-wrapper-news">
  <div class="mid-heading-wrapper-news">
    <h1 class="hero-heading-news">NEWS &amp; EVENTS</h1>
    <p class="hero-text-news">Stay up to date with the latest news from Cage Marshall and follow along with us as we attend a variety of industry events throughout the year.</p>
  </div>
  <div class="container-large">
    <div class="mid-flex-row-news">

    	{% paginate blog.articles by 12 %}
    		{% for article in blog.articles %}
	    		<div class="mid-flex-col-news">
	    		  <div class="mid-flex-col-inner-news" {% if article.image %}style="background-image: url({{ article.image | img_url: '800x' }});"{% endif %}>
	    		  	<div class="mid-flex-col-overlay-news"></div>
	    		    <a href="{{ article.url }}" class="mid-flex-col-link-news w-inline-block">
                <div class="mid-flex-col-date-wrapper-news">
                  <div class="flex-col-date-text-news">{{ article.published_at | time_tag: format: 'date' }}</div>
                </div>
	    		      <div class="flex-col-content-wrapper-news">
	    		        <div class="flex-col-heading-wrapper-news">
	    		          <h4 class="flex-col-heading-news">{{ article.title | escape }}</h4>
	    		        </div>
	    		        <div class="mid-flex-col-bottom-news">
	    		          <div class="flex-col-breaker-news"></div>
	    		          <div class="flex-col-link-news-text">Read More</div>
	    		        </div>
	    		      </div>
	    		    </a>
	    		  </div>
	    		</div>
    			
    		{% endfor %}


    </div>
    	{% if paginate.pages > 1 %}
    		{% include 'pagination' %}
    	{% endif %}
    {% endpaginate %}
  </div>
</div>

{% section 'jc-events-section' %}
{% section 'jc-newsletter-cta' %}



    
